@model List<Category>
    <partial name="_Notification" />
<div class="row mt-4">
    <div class="col-md-6">
        <h2>
            LIST CATEGORY
        </h2>
    </div>
    <div class="col-md-6 text-right">
        <a asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle-fill"></i> Create New
        </a>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Display order</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Name</td>
                <td>@x.DisplayOrder</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@x.CategoryId" class="btn btn-success"><i class="bi bi-pencil-square"></i> Edit</a>
                    <a asp-action="Delete" asp-route-id="@x.CategoryId" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
